/* styles.css */

/* Personaliza la fuente del body */
body {
    font-family: Arial, sans-serif;
  }
  
  /* Estilo personalizado para el header */
  header {
    background: url('https://i.pinimg.com/originals/f1/8e/e6/f18ee68916d0a279798808eb7456249d.jpg') no-repeat center center/cover;
    color: green;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
  }
  
  /* Opcional: Puedes personalizar las tarjetas de producto */
  .card {
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.03);
  }
  
  